//메인 페이지 스타일

.search{

    &_icons{

        height: 500px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;            

        img{

            height: 33%;
            width: 27%;

        }
    }

    &_field{

        margin-top: 50px;

    }

}

.fading-image {
    opacity: 0; 
    transition: opacity 1s ease; 
}

.fading-image.show {
    opacity: 1; 
}